html, body{
    background-color: darkslategrey;
    font-family: monospace;
    text-align: center;
}
.container-general{
    width: 50%;
    display: inline-block;
    border-radius: 30px;
    background-color: lightslategrey;
}
h2{
    font-weight: bold;
    color: white;
}
.bi{
    color: rgb(21, 109, 97);
}

#mensaje{
    margin-top: 5px;
    color:Red;

}